<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil CV
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="display: flex; justify-content: center; align-items: center;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil CV</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="width: 20rem;">
    <img src="https://avatars.githubusercontent.com/u/108561115?v=4" style="width: auto">
    <ion-card-header>
      <ion-card-title>Eduardo Almachi</ion-card-title>
      <ion-card-subtitle>Perfil CV</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Soy un desarrollador fullstack con 1 año de experiencia en el desarrollo web.
    </ion-card-content>
  </ion-card>

  <ion-card style="width: 20rem; ">
    <ion-card-content>
      <h1>Estudios</h1>
      <h2>Escuela Politecnica Nacional</h2>
    </ion-card-content>

  </ion-card>

</ion-content>
