<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="width: 20rem;">

    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>GitHub: edusebass</p>
      <p>Linkedin: Eduardo Almachi</p>
      <p>0986572316</p>
      <p>Correo: eduardoalmachi123&#64;hotmail.com</p>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Referencias</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Juan Calero</p>
      <p>0986572316</p>
      <p>juancalero&#64;gmail.com</p>
    </ion-card-content>
  </ion-card>

</ion-content>
